@use '../abstracts' as abs;
@use '../components' as component;
@use '../layout/' as layout;

.network-content-container{
    @include layout.Container-1(auto, auto);
    @include abs.display-flex(space-between , flex-start  , row);
    padding: 30px 200px;
    gap: 30px;
    .network-left-container{
        @include layout.Container-1(40%, auto);
        @include abs.display-flex(center , center , column);
        gap: 30px;
        .menu-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , flex-start , column); 
            border: 1px solid gray;
            border-radius: 10px;
            background-color: var(--secondary-color-1);
            color: var(--font-color-1);
            transition-duration: 1s;  
            overflow: hidden; 
            .title{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(center , center , row); 
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .menu{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(flex-start , flex-start , column);   

                .menu-content{
                    @include layout.Container-1(100%, auto);
                    @include abs.display-flex(space-between , flex-start , row);   
                    transition-duration: 0.3s;

                    .left-menu-content{
                        @include layout.Container-1(100%, 30px);
                        @include abs.display-flex(flex-start , center , row); 
                        margin-left: 30px;
                        gap: 20px;
                        p{
                            font-size: 16px;
                        }
                    }
    
                    .right-menu-content{
                        @include layout.Container-1(10%, 30px);
                        @include abs.display-flex(flex-start , center , row); 
                    }
                    
                    &:hover{
                        cursor: pointer;
                        background-color: var(--highlight-background-hover-1)
                    }
                }

            }

        }
        .left-footer-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(flex-start , center , column);
            // border-top-left-radius: 10px;
            // border-top-right-radius: 10px;
            gap: 20px;
            .left-footer-top-container{
                background-color: var(--secondary-color-1);
                color: var(--font-color-1);
                transition-duration: 1s;
                @include layout.Container-1(100%, 200px);
                border: 1px solid gray;
                // @include abs.display-flex(flex-start , center , column);
                .left-advertise-image{
                    width: 100%;
                    height: 100%;
                }
            }
        
            .left-footer-mid-container{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(center , center , row);
                flex-wrap: wrap;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: abs.$gray-600;
                    font-size: 12px;
                    &:hover{
                        text-decoration: underline
                    }
                }
    
    
            }
    
            .left-footer-bottom-container{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(center , center , column);
                gap: 5px;
                .linkhedin-logo{
                    width: 70px;
                    height: 20px;
                    object-fit: contain;
                }
    
                .linkhedin-copyright{
                    font-size: 12px;
                    color: var(--font-color-1)
                }
            }
        }
    }

    .network-right-container{
        @include layout.Container-1(100%, auto);
        @include abs.display-flex(center , flex-start , column);
        gap: 30px;
        .network-right-top-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , flex-start , column);            
            border: 1px solid gray;
            border-radius: 10px;
            background-color: var(--secondary-color-1);
            color: var(--font-color-1);
            transition-duration: 1s;

            .network-conenction-card-container{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(center , flex-start , column);
                gap: 15px;
                margin-bottom: 20px;
                .title{
                    @include layout.Container-1(100%, auto);
                    border-bottom: 1px solid gray;
                    font-size: 18px;
                    font-weight: 500;
                    
                    p{
                        padding: 10px;
                    }
                }
    
                .title2{
                    @include layout.Container-1(100%, auto);
                    @include abs.display-flex(center , center , row);
                    font-size: 18px;
                    font-weight: 500;
                    
                    p{
                        padding: 10px;
                    }
                }
    
                .content{
                    @include layout.Container-1(100%, auto);
                    @include abs.display-flex(space-between , center , row);
                    gap: 30px;
                    .left-content{
                        @include layout.Container-1(100%, auto);
                        @include abs.display-flex(flex-start , center , row);
                        gap: 10px;
                        margin-left: 20px;
                        .user-photo{
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                            }
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .user-information{
                            @include layout.Container-1(auto, auto);
                            @include abs.display-flex(center , flex-start , column);
                            gap: 2px;
                            .name{
                                font-size: 16px;
                            }
                            .headline{
                                font-size: 14px;
                                color: var(--font-color-2)
                            }
                            .message{
                                font-size: 14px;
                                color: var(--font-color-3)
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
    
                    .right-content{
                        @include layout.Container-1(100%, auto);
                        @include abs.display-flex(flex-end, center , row);
                        padding-right: 30px;
                        gap: 30px;
                        .button1{
                            @include component.button-submit(5px , 5px ,  white , abs.$dark-500 , 30px);
                            @include abs.display-flex(center , center , row);
                            border: 1px solid gray;
                            width: 25%;
                            transition-duration: 0.2s;
                            gap: 5px;
                            font-size: 14px;
        
                            &:hover{
                                background-color: var(--highlight-background-hover-2);
                            }
                    
                            img{
                                width: 20px;
                            }
                        }
    
                        .button2{
                            @include component.button-submit(5px ,5px ,  white , abs.$blue-700 , 20px);
                            border: none;
                            width: 25%;
                            transition-duration: 0.2s;
                            font-size: 14px;
                            border: 1px solid abs.$blue-700;
                            // margin-left: 30px;
                            &:hover{
                                background-color: abs.$blue-900;
                                color: white;
                            }      
                        }
                    }
                }
            }
        }
        
    }
}

.UYMK-container{
    @include layout.Container-1(100%, auto);
    @include abs.display-flex(center , flex-start , column);            
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--secondary-color-1);
    color: var(--font-color-1);
    transition-duration: 1s;

    .UYMK-top-container{
        @include layout.Container-1(100%, auto);
        margin-top: 20px;
        margin-left: 20px;
        .UYMK-title{
            font-size: 20px;
            font-weight: 500
        }
        .UYMK-title-error{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , center , row); 
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .UYMK-mid-container{
        @include layout.Container-1(100%, auto);
        @include abs.display-flex(center , flex-start , row);  
        flex-wrap: wrap;
    
        .UYMK-card-content-container{
            @include layout.Container-1(25%, auto);
            @include abs.display-flex(flex-start , flex-start , column);
            margin: 20px;
            border: 1px solid gray;

            transition-duration: 0.2s;

            &:hover{
                transform: scale(1.05);
                box-shadow: var(--shadow-navbar-1) 0px 5px 15px;
            }
    
            .UYMK-card-top-content{
                @include layout.Container-1(100%, auto);
                .UYMK-card-background-image{
                    @include layout.Container-1(100%, 70px);
                    object-fit: cover;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
    
            .UYMK-card-mid-content{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(center , center , column);
                .user-photo{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-top: -55px;
                    margin-bottom: 10px;
                    &:hover{
                        cursor: pointer;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }
        
                .username{
                    &:hover{
                        cursor: pointer;
                    }
                }
        
                .headline{
                    font-size: 14px;
                    color:abs.$gray-600;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .button1{
                    @include component.button-submit(7px , 5px ,  white , abs.$dark-500 , 30px);
                    @include abs.display-flex(center , center , row);
                    border: 1px solid gray;
                    width: 90%;
                    transition-duration: 0.2s;
                    gap: 5px;
                    font-size: 14px;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: var(--highlight-background-hover-2);
                    }
            
                    img{
                        width: 20px;
                    }
                }

                .button2{
                    @include component.button-submit(7px ,5px ,  white , abs.$blue-700 , 20px);
                    border: none;
                    width: 90%;
                    transition-duration: 0.2s;
                    font-size: 14px;
                    border: 1px solid abs.$blue-700;
                    margin-bottom: 10px;
                    margin-top: 30px;
                    &:hover{
                        background-color: abs.$blue-900;
                        color: white;
                    }   
                }
    
                .button3{
                    @include component.button-submit(7px , 5px ,  abs.$blue-700 , white , 30px);
                    border: none;
                    width: 90%;
                    transition-duration: 0.2s;
                    font-size: 14px;
                    margin-bottom: 10px;
                    margin-top: 30px;
                    // margin-left: 30px;
                    &:hover{
                        background-color: abs.$blue-900;
                    }        
                }
            }
    
        }
    }
}
