@use '../abstracts' as abs;
@use '../components' as component;
@use '../layout/' as layout;

.notification-content-container{
    @include layout.Container-1(100%, auto);
    @include abs.display-flex(center , flex-start , row);

    gap: 40px;
    .notification-container {
        @include layout.Container-1(40%, auto);
        @include abs.display-flex(center , center , column);
        padding: 30px 0px;
        gap: 30px;
    
        .notification-mid-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , center , column);
            border: 1px solid gray;
            border-radius: 10px;
            background-color: var(--secondary-color-1);
            color: var(--font-color-1);
            overflow: hidden;
            transition-duration: 1s;
            .line{
                @include layout.Container-1(100%, auto);
                border-bottom: 1px solid abs.$gray-400;
            }
            
            .notification-mid-title{
                @include layout.Container-1(100%, auto);
                @include abs.display-flex(flex-start , center , row);
                margin-left: 30px;
                margin-top: 20px;
                margin-bottom: 10px;
    
                p{
                    font-size: 24px;
                    font-weight: 500;
                }
            }   
    
            .notification-mid-content-container{
                @include layout.Container-1(100%, 80px);
                @include abs.display-flex(flex-start , center , row);
                gap: 20px;
                transition-duration: 0.2s;
    
                &:hover{
                    cursor: pointer;
                    background-color: var(--highlight-background-hover-1)
                }
    
                .notificaiton-left-card-container{
                    @include layout.Container-1(10%, auto);
                    @include abs.display-flex(flex-start , flex-start , column);
                    margin-left: 20px;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius:50%;
                    }
                }
                
                .notificaiton-right-card-container{
                    @include layout.Container-1(100%, auto);
                    @include abs.display-flex(flex-start , flex-start , row);
                    gap: 3px;
                    .text{
                        font-size: 16px;
                        color: var(--font-color-1);
                        transition-duration: 1s;
    
                        .username{
                            font-weight: 500;
                        }
                    }      
                }
            }
        }
    }

    .left-footer-container{
        @include layout.Container-1(80%, auto);
        @include abs.display-flex(flex-start , flex-start , column);
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        padding: 30px 0px;
        gap: 20px;
        .left-footer-top-container{
            background-color: white;
            @include layout.Container-1(100%, 200px);
            border: 1px solid gray;
            // @include abs.display-flex(flex-start , center , column);
            .left-advertise-image{
                width: 100%;
                height: 100%;
            }
        }
    
        .left-footer-mid-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , center , row);
            flex-wrap: wrap;
            gap: 10px;
            a{
                text-decoration: none;
                color: abs.$gray-600;
                font-size: 12px;
                &:hover{
                    text-decoration: underline
                }
            }


        }

        .left-footer-bottom-container{
            @include layout.Container-1(100%, auto);
            @include abs.display-flex(center , center , column);
            gap: 5px;
            .linkhedin-logo{
                width: 70px;
                height: 20px;
                object-fit: contain;
            }

            .linkhedin-copyright{
                font-size: 12px;
            }
        }
    }
}
