
$white : white;

$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-200: #909296;
$dark-300: #5C5F66;
$dark-400: #373A40;
$dark-500: #2C2E33;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-800: #141517;
$dark-900: #101113;

$blue-000 : #E7F5FF;
$blue-100 : #D0EBFF;
$blue-200 : #A5D8FF;
$blue-300 : #74C0FC;
$blue-400 : #4DABF7;
$blue-500 : #339AF0;
$blue-600 : #228BE6;
$blue-700 : #1C7ED6;
$blue-800 : #1971C2;
$blue-900 : #1864AB;

$gray-000 : #F8F9FA;
$gray-100 : #F1F3F5;
$gray-200 : #E9ECEF;
$gray-300 : #DEE2E6;
$gray-400 : #CED4DA;
$gray-500 : #ADB5BD;
$gray-600 : #868E96;
$gray-700 : #495057;
$gray-800 : #343A40;
$gray-900 : #212529;

$red-000: #FFF5F5;
$red-100: #FFE3E3;
$red-200: #FFC9C9;
$red-300: #FFA8A8;
$red-400: #FF8787;
$red-500: #FF6B6B;
$red-600: #FA5252;
$red-700: #F03E3E;
$red-800: #E03131;
$red-900: #C92A2A;

$teal-000 : #E6FCF5;
$teal-100 : #C3FAE8;
$teal-200 : #96F2D7;
$teal-300 : #63E6BE;
$teal-400 : #38D9A9;
$teal-500 : #20C997;
$teal-600 : #12B886;
$teal-700 : #0CA678;
$teal-800 : #099268;
$teal-900 : #087F5B;

$green-000 : #EBFBEE;
$green-100 : #D3F9D8;
$green-200 : #B2F2BB;
$green-300 : #8CE99A;
$green-400 : #69DB7C;
$green-500 : #51CF66;
$green-600 : #40C057;
$green-700 : #37B24D;
$green-800 : #2F9E44;
$green-900 : #2B8A3E;

$lime-000 : #F4FCE3;
$lime-100 : #E9FAC8;
$lime-200 : #D8F5A2;
$lime-300 : #C0EB75;
$lime-400 : #A9E34B;
$lime-500 : #94D82D;
$lime-600 : #82C91E;
$lime-700 : #74B816;
$lime-800 : #66A80F;
$lime-900 : #5C940D;

$yellow-000 : #FFF9DB;
$yellow-100 : #FFF3BF;
$yellow-200 : #FFEC99;
$yellow-300 : #FFE066;
$yellow-400 : #FFD43B;
$yellow-500 : #FCC419;
$yellow-600 : #FAB005;
$yellow-700 : #F59F00;
$yellow-800 : #F08C00;
$yellow-900 : #E67700;

$orange-000 : #FFF4E6;
$orange-100 : #FFE8CC;
$orange-200 : #FFD8A8;
$orange-300 : #FFC078;
$orange-400 : #FFA94D;
$orange-500 : #FF922B;
$orange-600 : #FD7E14;
$orange-700 : #F76707;
$orange-800 : #E8590C;
$orange-900 : #D9480F;

$accent-color-1-light : $blue-500;
$secondary : $green-400;

.lightClass * {
    --primary-color-1 : rgb(238 , 238 , 238);
    --secondary-color-1 : #fff;
    --accent-color-1 : #1C7ED6;

    --highlight-focus:rgb(88 , 88 , 88);
    --highlight-background : rgb(222 , 222 , 222);
    --highlight-background-hover-1 : rgb(222 , 222 , 222);
    --highlight-background-hover-2 : rgb(200 , 200 , 200);
    --highlight-background-mention : #b6cfff;

    --font-color-1 : #222;
    --font-color-2 : #666;
    --font-color-3 : rgb(80 , 80 , 80);

    --icon-color-1 :  rgb(0 , 0 , 0);
    --border-color-1 : rgb(0,0,0);

    --modal-background-color-1 : rgba(0, 0, 0, 0.7);

    --navbar-bottom-border : rgb(0 , 0 , 0);
    --navbar-icon-color-1 :  rgb(0 , 0 , 0);

    --shadow-navbar-1 : rgba(0, 0, 0, 0.2);
    --shadow-color-1 : rgba(0, 0, 0, 0.02);
}  

.darkClass *{
    --primary-color-1 : rgb(28, 28, 28);
    --secondary-color-1 : rgb(20, 20, 20);
    --accent-color-1 : #0A66C2;
    --highlight-background : rgb(38 , 38 , 38);
    --highlight-background-hover-1 : rgb(68 , 68 , 68);
    --highlight-background-hover-2 : rgb(140 , 140 , 140);
    --highlight-focus:rgb(88 , 88 , 88);
    --highlight-background-mention : #103b8b;

    --font-color-1 : rgb(250 , 250 , 250);
    --font-color-2 : rgb(200, 200, 200);
    --font-color-3 : rgb(180 , 180 , 180);


    --icon-color-1 :  rgb(255 , 255 , 255);
    --border-color-1 : rgb(255,255,255);

    --modal-background-color-1 : rgba(255, 255, 255, 0.3);


    --shadow-navbar-1 : rgba(255, 255, 255, 0.03);
    --shadow-color-1 : rgba(255, 255, 255, 0.02);

    --navbar-bottom-border : rgb(255 , 255 , 255);
}